<div class="box">
<p><i>La Tortuga Sabia</i> es un proyecto didáctico realizado por M. Da Silva Garcia.</p>
<p>Esta aplicación web consiste en un visualizador de consejos, normalmente dados por nuestra amiga <i>La Tortuga Sabia</i>. Aparte de disfrutar de los maravillosos consejos de la tortuga, los usuarios también pueden publicar sus propios consejos, de forma que todos los usuarios se benefician de la sabiduria colectiva.</p>
<p>Tienes todo el código del proyecto disponible en <a href="https://github.com/scatt89/tortuga_sabia">mi repositorio de GitHub</a>, eres libre de consultar y compartir lo que quieras.</p>
<p>Para realizar estre proyecto se ha usado Angular2 y Typescript en el front. En el back Java 8, Spring MVC, Spring Boot, Hibernate, MySQL y ElasticSearch.</p>
</div>
